nav{

	font-size: 2em;

}

#pjax-container-wrapper{

	position: relative;

}

#pjax-container{

	position: absolute;
	z-index: 1;
	opacity: 1;
	background: white;

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

}

#pjax-container.clone{
	
	z-index: 2;

}

#pjax-container.fade{

	opacity: 0;

}