nav{

	font-size: 2em;

}

nav .active{

	background: #ccc;

}

nav .disabled{

	color: #999;
	text-decoration: none;
	cursor: default;

}

#pjax-container-wrapper{

	position: relative;

}

#pjax-container{

	width: 100%;
	z-index: 1;
	opacity: 1;
	background: white;

}

#pjax-container.clone{

	position: absolute;
	top: 0;
	z-index: 2;

}

#pjax-container.disappear{

	-webkit-animation: slideOutX 2s; /* Safari and Chrome */
	   -moz-animation: slideOutX 2s; /* Firefox */
	    -ms-animation: slideOutX 2s; /* Internet Explorer */
	 	 -o-animation: slideOutX 2s; /* Opera */
	    	animation: slideOutX 2s;
	    	
}


/* 

******
fade out
******

*/
@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox */
@-moz-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari and Chrome */
@-webkit-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}​

/* Opera */
@-o-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}​


/* 

******
slide out
******

*/
@keyframes slideOutX {
    from { margin-left: 0; opacity: 1; }
    to   { margin-left: -100%; opacity: 0; }
}

/* Firefox */
@-moz-keyframes slideOutX {
    from { margin-left: 0; opacity: 1; }
    to   { margin-left: -100%; opacity: 0; }
}

/* Safari and Chrome */
@-webkit-keyframes slideOutX {
    from { margin-left: 0; opacity: 1; }
    to   { margin-left: -100%; opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes slideOutX {
    from { margin-left: 0; opacity: 1; }
    to   { margin-left: -100%; opacity: 0; }
}​

/* Opera */
@-o-keyframes slideOutX {
    from { margin-left: 0; opacity: 1; }
    to   { margin-left: -100%; opacity: 0; }
}​